<!DOCTYPE html>
<html>
  <head>
    <title>shop首页</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <div id="header">
        <div class="wrap">
            header
            <div class="link">
                <a href="/login">登录</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/reg">注册</a>
            </div>
        </div>
    </div>
    <ul id="nav" class="wrap">
        <li><a href="#">首页</a></li>
        <li><a href="#">所有商品</a></li>
        <li><a href="#">我的订单</a></li>
        <li><a href="#">购物车</a></li>
    </ul>

    <div id="content" class="wrap">
        <ul class="col">
            <!--<li><img src="uploads/1.jpg" alt=""/>

                <p><span class="title">蛋糕 1</span><span class="price">01</span></p>
            </li>
            <li><img src="uploads/2.jpg" alt=""/>

                <p><span class="title">蛋糕 2</span><span class="price">02</span></p>
            </li>-->
        </ul>
        <ul class="col">
            <!--<li><img src="uploads/3.jpg" alt=""/>

                <p><span class="title">蛋糕 1</span><span class="price">01</span></p>
            </li>
            <li><img src="uploads/4.jpg" alt=""/>

                <p><span class="title">蛋糕 2</span><span class="price">02</span></p>
            </li>-->
        </ul>
        <ul class="col">
            <!--<li><img src="uploads/5.jpg" alt=""/>

                <p><span class="title">蛋糕 1</span><span class="price">01</span></p>
            </li>
            <li><img src="uploads/6.jpg" alt=""/>

                <p><span class="title">蛋糕 2</span><span class="price">02</span></p>
            </li>-->
        </ul>
    </div>
    <script src="/javascripts/jquery-1.11.3.min.js"></script>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
